extends ../layout

block content
    h3= book.title
    a(href=`/books/edit/${book.id}`) Edit Book
    a(href=`/books/delete/${book.id}`) Delete Book
    div
        p Publisher : #{book.publisher}
        p Genre : #{book.genre}
        p Page Numebers : #{book.pagenumbers}
        img(src=book.image)
        p= book.description
    div.authors
        h4 Available Authors
        if availableAuthors.length>0
            form(action=`/books/${book.id}/enroll/` method='post')
                select(name='author' id='author' autocomplete=off)
                    each author in availableAuthors
                        option(value= author.id) #{author.first_name}
                button.button.primary(type='submit') Enroll
        else
            p No more remaining available authors!

        h4 Enrolled Authors
        if book.authors.length>0
            table
                thead
                    tr
                        th First
                        th Last
                        th Books Written
                        th DOB
                        th
                tbody
                    each author in book.authors
                        tr
                            td= author.first_name
                            td= author.last_name
                            td= author.books_written
                            td= author.dob
                            td
                                a(href=`/authors/profile/${author.id}`) View Author
                                a(href=`/books/${book.id}/removeAuthor/${author.id}`) Remove
        else
            p No authors are enlisted right now.